
<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			
		<header>
            		<a class="logo" href="/">
              			<img src="/images/logo.png" alt="Logo"/>
            		</a>
        
            		<input type="checkbox" id="btnNav" />
           		 <label class="iconNav" for="btnNav"><span></span></label>
            
            		<nav>
              			<ul>
				<!-- <li><a class="active" href="#">Link</a></li> -->
				<li><a href="/">Home</a></li>
				<li><a href="/projects">Projects</a></li>
				<li><a href="/news">News</a></li>
				<li><a href="/get-involved">Get Involved</a></li>
			      </ul>
			    </nav>
        	</header>
			<div class="container">
			
				{{ content }}
			
			</div><!-- /.container -->
			<footer>
			    <p>© Copyright 2020 HOUSE N2 HOME</p>
			    <div class="sMedia">
			      <a href="https://www.facebook.com/HouseN2HomeWashtenaw"><img src="/images/icon-fb.png" alt="Facebook"></a>
			      <a href="#foo"><img src="/images/icon-ins.png" alt="LinkedIn"></a>
			      <a href="#foo"><img src="/images/icon-tw.png" alt="Twitter"></a>
			  </div>
			</footer>
			<script src="/js/mainScript.js"> </script>
		</body>
	</html>
